# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
*.venv

# IDE-specific files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Logs
*.log

# Compiled Python files
*.pyc

# Package directories
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints